# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
*.env
*.venv

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and local data
*.log
*.sqlite3
*.db
.DS_Store

# Pytest / test cache
.pytest_cache/
.cache/

# MyPy, coverage, and other tools
.mypy_cache/
.coverage
htmlcov/
*.cover
*.py,cover

# Streamlit specific
.streamlit/

# Deployment folders
build/
dist/

# Mac OS metadata
*.DS_Store
